body{margin:0}
a{font-size:inherit;color:inherit}
.head{background:#669;padding:0.6em;height:2em;color:#fff;margin:0}
.title{margin:0;display:inline-block;vertical-align:top}
.about{display:block;float:right;max-width:60%;font-size:8pt}
.container{width:90%;margin:0 auto;padding:1em}
p{margin:0;font-size:11pt}
table{width: 100%;border:1px solid #336;margin-bottom:1em}
pre{margin:0}
.linenos{width: 24px}
textarea{width: 100%;border:1px solid #000}
input[type="submit"]{text-align:right;text-decoration:none;text-align:center;border-radius:4px;background:#336;padding:.4em;margin:.3em;color:#fff}
footer{padding:4px;font-size:10pt;background:#669;color:#fff;text-align:center}
@media(max-width:400px){.about{display:none}}
