{% extends 'base.html' %}
{% block content %}
<section>
<p>Vlozit (insert, paste in slovak) is a simple online pastebin tool which you can use either via
its website and via netcat inline command.</p>
<p>To use it via web, just paste something in the textarea and click on "Create new paste".</p>
<p>To use it via netcat, just type any command on your terminal and pipe it to vloz.it :</p>
<pre>ls -l |nc vloz.it 8080</pre>
<p>It will return you an url like : http://vloz.it/p?59aa94c0888008ef814faebdacef9984a293b4c8t
where you'll find your paste and use it to share your paste to anyone.</p>
</section>
<br /><br />
<section>
<p>To come :</p>
<ul>
    <li>An https website, more secured</li>
    <li>An automatic deletion of paste after some time</li>
    <li>Cryptopaste in order to block server admin to read your pastes</li>
</ul>
</section>
{% endblock %}
