<!DOCTYPE html><html><head><meta charset="utf-8" /><title>Vlozit</title>
<link rel="stylesheet" href="/static/css/pygments.css" /><link rel="stylesheet" href="/static/css/style.css" />
</head><body><section class="head">
<span class="title"><a href="/">Vlozit</a></span>
<span class="about">Vlozit is a minimalist, opensource online pastebin at which you can send paste
through netcat or its website.</span></section>
<div class="container">{% block content %}{% endblock %}</div>
<footer>Licence : <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3+</a> |
<a href="/about">About</a> |
<a href="http://projects.sourismaline.fr/sourismaline/vlozit">get sources here</a></footer>
</body></html>
