{% extends 'base.html' %}
{% block content %}
<p>You can share this paste using url : <a href="##URL##">##URL##</a></p>
##FORMATTED##
<p>Edit paste:</p><form action="/send" method="POST"><textarea name="paste" rows="10">##RAW##</textarea>
<input type="submit" class="btn" value="Create new paste" /></form>
{% endblock %}
